* text=auto !eol
core/pom.xml -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/DocumentManager.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/impl/HippoWorkflowDocumentManagerImpl.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/impl/HippoWorkflowUtils.java -text svneol=unset#text/plain
/pom.xml -text
src/site/site.xml -text
src/site/xdoc/build-from-source.xml -text
src/site/xdoc/index.xml -text
src/site/xdoc/install.xml -text
src/site/xdoc/release-notes.xml -text
