* text=auto !eol
core/pom.xml -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/BinaryExportTask.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/Constants.java -text
core/src/main/java/org/onehippo/forge/content/exim/core/ContentMigrationException.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/ContentMigrationRecord.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/ContentMigrationTask.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/DocumentManager.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/DocumentManagerException.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/DocumentVariantExportTask.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/DocumentVariantImportTask.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/impl/AbstractContentExportTask.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/impl/AbstractContentImportTask.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/impl/AbstractContentMigrationTask.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/impl/DefaultBinaryExportTask.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/impl/WorkflowDocumentManagerImpl.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/impl/WorkflowDocumentVariantExportTask.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/impl/WorkflowDocumentVariantImportTask.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/impl/WorkflowUtils.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/util/ContentNodeUtils.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/util/FileFilterDepthSelector.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/content/exim/core/util/NamePatternFileFilter.java -text svneol=unset#text/plain
/pom.xml -text
src/site/site.xml -text
src/site/xdoc/build-from-source.xml -text
src/site/xdoc/index.xml -text
src/site/xdoc/install.xml -text
src/site/xdoc/release-notes.xml -text
